* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  .headerContainer {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }
  
  .sites-image {
    height: 150px; 
    width: 150px; 
    border-radius: 50%; 
    margin-top: 2rem;
  }
  
  .name {
    text-align: center; 
    font-size: 1.8rem; 
  }
  
  .Header-p {
    width: 90%; 
    color: black;
    padding-top: 1rem;
    text-align: center; 
    line-height: 1.5; 
  }
  
  
  @media (min-width: 768px) {
    .headerContainer {
      flex-wrap: nowrap; 
      justify-content: space-between;
      padding: 2rem 5rem;
    }
  
    .sites-image {
      height: 200px;
      width: 200px; 
      margin-top: 5rem;
    }
  
    .Header-p {
      width: 45rem; 
      text-align: left; 
    }
  
    .name {
      text-align: left; 
      font-size: 2.5rem; 
    }
  }
  
 
  @media (max-width: 480px) {
    .sites-image {
      height: 100px; 
      width: 100px; 
      margin-top: 1rem;
    }
  
    .name {
      font-size: 1.5rem;
    }
  
    .Header-p {
      font-size: 0.9rem;
    }
  }
  